[submodule "mods/i3"]
	path = mods/i3
	url = https://github.com/minetest-mods/i3
[submodule "mods/awards"]
	path = mods/awards
	url = https://gitlab.com/rubenwardy/awards
[submodule "mods/skinsdb"]
	path = mods/skinsdb
	url = https://github.com/minetest-mods/skinsdb
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/minetest-mods/technic
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/mt-mods/pipeworks
[submodule "mods/technic_hv_extend"]
	path = mods/technic_hv_extend
	url = https://github.com/Emojigit/technic_hv_extend
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/Minetest-WorldEdit"]
	path = mods/Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mods/mobkit"]
	path = mods/mobkit
	url = https://github.com/TheTermos/mobkit
[submodule "mods/Biofuel"]
	path = mods/Biofuel
	url = https://github.com/Lokrates/Biofuel
[submodule "mods/automobiles_pck"]
	path = mods/automobiles_pck
	url = https://github.com/APercy/automobiles_pck
[submodule "mods/motorboat"]
	path = mods/motorboat
	url = https://github.com/APercy/motorboat
[submodule "mods/nautilus"]
	path = mods/nautilus
	url = https://github.com/APercy/nautilus
[submodule "mods/hidroplane"]
	path = mods/hidroplane
	url = https://github.com/APercy/hidroplane
[submodule "mods/airutils"]
	path = mods/airutils
	url = https://github.com/APercy/airutils
[submodule "mods/ju52"]
	path = mods/ju52
	url = https://github.com/APercy/ju52
[submodule "mods/pa28"]
	path = mods/pa28
	url = https://github.com/APercy/pa28
[submodule "mods/supercub"]
	path = mods/supercub
	url = https://github.com/APercy/supercub
[submodule "mods/digtron"]
	path = mods/digtron
	url = https://github.com/minetest-mods/digtron
[submodule "mods/enderpearl"]
	path = mods/enderpearl
	url = https://gitlab.com/zughy-friends-minetest/enderpearl
[submodule "mods/tnt_revamped"]
	path = mods/tnt_revamped
	url = https://gitlab.com/Coder12a/tnt_revamped
[submodule "mods/drawers"]
	path = mods/drawers
	url = https://github.com/minetest-mods/drawers
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/minetest-mods/moreores
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "mods/advtrains"]
	path = mods/advtrains
	url = https://git.bananach.space/advtrains.git
[submodule "mods/basic_trains"]
	path = mods/basic_trains
	url = https://git.bananach.space/basic_trains.git/
[submodule "mods/dlxtrains_modpack"]
	path = mods/dlxtrains_modpack
	url = https://github.com/Marnack/dlxtrains_modpack
[submodule "mods/moretrains"]
	path = mods/moretrains
	url = https://git.bananach.space/moretrains.git/
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "mods/overpowered"]
	path = mods/overpowered
	url = https://github.com/AidanLCB/overpowered
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = https://github.com/mt-mods/travelnet
[submodule "mods/spacecannon"]
	path = mods/spacecannon
	url = https://github.com/pandorabox-io/spacecannon
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines
[submodule "mods/digistuff"]
	path = mods/digistuff
	url = https://cheapiesystems.com/git/digistuff
[submodule "mods/led_marquee"]
	path = mods/led_marquee
	url = https://github.com/mt-mods/led_marquee
[submodule "mods/digiscreen"]
	path = mods/digiscreen
	url = https://cheapiesystems.com/git/digiscreen/
[submodule "mods/void_chest"]
	path = mods/void_chest
	url = https://github.com/MeseCraft/void_chest
[submodule "mods/vehicle_mash"]
	path = mods/vehicle_mash
	url = https://github.com/minetest-mods/vehicle_mash
[submodule "mods/lib_mount"]
	path = mods/lib_mount
	url = https://github.com/minetest-mods/lib_mount
[submodule "mods/farming_flood"]
	path = mods/farming_flood
	url = https://github.com/AFCMS/farming_flood
[submodule "mods/torch_bomb"]
	path = mods/torch_bomb
	url = https://github.com/minetest-mods/torch_bomb
[submodule "mods/protector"]
	path = mods/protector
	url = https://notabug.org/tenplus1/protector
[submodule "mods/commoditymarket"]
	path = mods/commoditymarket
	url = https://github.com/minetest-mods/commoditymarket
[submodule "mods/global_market"]
	path = mods/global_market
	url = https://github.com/AFCMS/global_market
[submodule "mods/ts_workshop"]
	path = mods/ts_workshop
	url = https://github.com/minetest-mods/ts_workshop
[submodule "mods/farming"]
	path = mods/farming
	url = https://notabug.org/tenplus1/farming
[submodule "mods/farming_nextgen"]
	path = mods/farming_nextgen
	url = https://github.com/berengma/farming_nextgen
[submodule "mods/minetest-hangglider"]
	path = mods/minetest-hangglider
	url = https://notabug.org/Piezo_/minetest-hangglider
[submodule "mods/bonemeal"]
	path = mods/bonemeal
	url = https://notabug.org/tenplus1/bonemeal
[submodule "mods/minetest_bedrock2"]
	path = mods/minetest_bedrock2
	url = https://repo.or.cz/minetest_bedrock2.git
[submodule "mods/techpack_stairway"]
	path = mods/techpack_stairway
	url = https://github.com/joe7575/techpack_stairway
[submodule "mods/superpick"]
	path = mods/superpick
	url = https://github.com/HybridDog/superpick
[submodule "mods/gauges"]
	path = mods/gauges
	url = https://github.com/minetest-mods/gauges
[submodule "mods/planet_moon"]
	path = mods/planet_moon
	url = https://github.com/pandorabox-io/planet_moon
[submodule "mods/playtime"]
	path = mods/playtime
	url = https://github.com/Lejo1/playtime
[submodule "mods/hbsprint"]
	path = mods/hbsprint
	url = https://github.com/minetest-mods/hbsprint
[submodule "mods/fancy_vend"]
	path = mods/fancy_vend
	url = https://github.com/ChimneySwift/fancy_vend
[submodule "mods/mg"]
	path = mods/mg
	url = https://github.com/minetest-mods/mg
[submodule "mods/jeans_economy"]
	path = mods/jeans_economy
	url = https://github.com/Jean28518/jeans_economy
[submodule "mods/jeans_economy_physical"]
	path = mods/jeans_economy_physical
	url = https://github.com/AFCMS/jeans_economy_physical
[submodule "mods/hammermod"]
	path = mods/hammermod
	url = https://github.com/cultom/hammermod
[submodule "mods/anvil"]
	path = mods/anvil
	url = https://github.com/minetest-mods/anvil
[submodule "mods/airtanks"]
	path = mods/airtanks
	url = https://github.com/minetest-mods/airtanks
[submodule "mods/fireworkz"]
	path = mods/fireworkz
	url = https://github.com/runsy/fireworkz
[submodule "mods/slats"]
	path = mods/slats
	url = https://github.com/v-rob/slats
[submodule "mods/sponge"]
	path = mods/sponge
	url = https://github.com/BenjieFiftysix/sponge
[submodule "mods/craftable_lava"]
	path = mods/craftable_lava
	url = https://github.com/MikeRedwood/craftable_lava
[submodule "mods/prefab"]
	path = mods/prefab
	url = https://github.com/mt-mods/prefab
[submodule "mods/we_undo"]
	path = mods/we_undo
	url = https://github.com/HybridDog/we_undo
[submodule "mods/quartz"]
	path = mods/quartz
	url = https://github.com/minetest-mods/quartz
[submodule "mods/technic_armor"]
	path = mods/technic_armor
	url = https://github.com/mt-mods/technic_armor
[submodule "mods/item_drop"]
	path = mods/item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "mods/Minetest-WorldEditAdditions"]
	path = mods/Minetest-WorldEditAdditions
	url = https://github.com/sbrl/Minetest-WorldEditAdditions
[submodule "mods/projectile"]
	path = mods/projectile
	url = https://github.com/Noodlemire/projectile
[submodule "mods/hopper"]
	path = mods/hopper
	url = https://github.com/minetest-mods/hopper
[submodule "mods/moarmour"]
	path = mods/moarmour
	url = https://github.com/dacmot/moarmour
[submodule "mods/forceload"]
	path = mods/forceload
	url = https://github.com/rubenwardy/forceload/
[submodule "mods/mobs_redo"]
	path = mods/mobs_redo
	url = https://notabug.org/tenplus1/mobs_redo
[submodule "mods/animalworld"]
	path = mods/animalworld
	url = https://github.com/Skandarella/animalworld
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = https://notabug.org/tenplus1/mobs_animal
[submodule "mods/mobs_monster"]
	path = mods/mobs_monster
	url = https://notabug.org/TenPlus1/mobs_monster
[submodule "mods/mobs_npc"]
	path = mods/mobs_npc
	url = https://notabug.org/TenPlus1/mobs_npc
[submodule "mods/microexpansion"]
	path = mods/microexpansion
	url = https://github.com/theFox6/microexpansion
[submodule "mods/commoditymarket_fantasy"]
	path = mods/commoditymarket_fantasy
	url = https://github.com/minetest-mods/commoditymarket_fantasy
[submodule "mods/display_modpack"]
	path = mods/display_modpack
	url = https://github.com/pyrollo/display_modpack
[submodule "mods/melterns"]
	path = mods/melterns
	url = https://gitlab.icynet.eu/evert/melterns
[submodule "mods/televator"]
	path = mods/televator
	url = https://github.com/octacian/televator
[submodule "mods/vehicles"]
	path = mods/vehicles
	url = https://github.com/D00Med/vehicles
[submodule "mods/roads"]
	path = mods/roads
	url = https://cheapiesystems.com/git/roads
[submodule "mods/fluid_lib"]
	path = mods/fluid_lib
	url = https://gitlab.icynet.eu/evert/fluid_lib
[submodule "mods/minetest-micupack"]
	path = mods/minetest-micupack
	url = https://github.com/realmicu/minetest-micupack.git
[submodule "mods/techpack"]
	path = mods/techpack
	url = https://github.com/joe7575/techpack
[submodule "mods/tubelib2"]
	path = mods/tubelib2
	url = https://github.com/joe7575/tubelib2
[submodule "mods/fishing_boat"]
	path = mods/fishing_boat
	url = https://github.com/APercy/fishing_boat
[submodule "mods/minekart"]
	path = mods/minekart
	url = https://github.com/APercy/minekart
